@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1703755726817') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongguanli:before {
  content: "\e632";
}

.icon-shengchanguanli:before {
  content: "\eb37";
}

.icon-guozai:before {
  content: "\ea37";
}

.icon-yunhangjiankong:before {
  content: "\e621";
}

